*.pyc
*.xml
.idea/
venv/






















































































































































 i,,,,,l
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;




\\\\\\\\\.